<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Express File Upload</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css"
              integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
        <link rel="stylesheet" href="./styles/style.css">
    </head>
    <body>
        <nav class="navbar navbar-inverse">
            <div class="container-fluid">
                <div class="navbar-header"></div>
            </div>
        </nav>
        <div class="jumbotron">
            <div class="container text-center">
                <h1>Multiple Files Upload</h1>
                <p>Upload multiple files to a Postgres database</p>
            </div>
        </div>
        <div class="container text-center">
            <div class="col-sm-12">
                <div class="form">
                    <div class="panel panel-default">
                        <div class="panel-body">
                            <h1>Upload your files!</h1>

                            <form action="#" method="post" enctype="multipart/form-data" name="uploadForm" id="uploadForm">
                                <div class="row number-field-box">
                                    <div class="form-group">
                                        <div class="col-sm-2">
                                            <label>Select number of files</label>
                                        </div>

                                        <div id="select-container" class="col-sm-10">
                                            <select class="form-control" id="number-of-fields"></select>
                                            <script id="number-of-fields-template" type="text/x-handlebars-template">
                                                {{#repeat number}}
                                                    <option value="{{this}}">{{this}}</option>
                                                {{/repeat}}
                                            </script>
                                        </div>
                                    </div>
                                    <div class="col-sm-12" id="message-response"></div>
                                    <script id="alert-success" type="text/x-handlebars-template">
                                        <div class="alert alert-success" >
                                            <h4>Files {{number}} uploaded!</h4> <br>
                                            {{#each fileFields}}
                                            <div style="text-align: left;">
                                                <i class="fas fa-file" style="margin-right:4px;"></i><span>{{filename}}</span><br>
                                            </div>
                                            {{/each}}
                                        </div>
                                    </script>
                                    <script id="alert-warning" type="text/x-handlebars-template">
                                        <div class="alert alert-warning" >
                                            <strong>Warning!</strong> <br>
                                            <span>{{error}}</span>
                                        </div>
                                    </script>

                                </div>

                                <div class="row">
                                    <div class="form-group">
                                        <div class="col-sm-12">
                                            <div id="files-container"></div>
                                            <script id="file-template" type="text/x-handlebars-template">
                                                {{#each fileFields}}
                                                <div class="box" box-index="{{index}}">
                                                    <label>{{title}}</label>
                                                    <input type="file" name="{{uuid}}" class="form-control-file"/><br/>
                                                </div>
                                                {{/each}}
                                            </script>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div id="message"></div>
                                    </div>
                                </div>

                                <div class="row panel-container-bottom">
                                    <button type="submit" class="btn mb-2 btn-success btn-panel-bottom btn-lg btn-block">
                                        <i class="fas fa-upload"></i>
                                        Upload
                                    </button>
                                </div>

                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
        <script src="http://cdnjs.cloudflare.com/ajax/libs/jquery.form/3.51/jquery.form.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.0.12/handlebars.min.js"></script>
        <script src="webapp.js" async="true"></script>
    </body>

</html>
















