
body {
    background: #FFF;
}

.navbar {
    margin-bottom: 50px;
    border-radius: 0;
}

.form h1 {
    text-align: left;
    background: #2a6aad;
    padding: 20px;
    margin: -30px -15px 10px -15px;
    color: #fff;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.12);
    font: normal 30px 'Cabin', serif;
}

.form label {
    display: block;
    font: 13px Arial, Helvetica, sans-serif;
    color: #888;
    margin-bottom: 15px;
}

.form input[type="file"] {
    display: block;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    width: 100%;
    padding: 8px;
    font-size: 14px;
    border-radius: 6px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border: 2px solid #fff;
    box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.33);
    -moz-box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.33);
    -webkit-box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.33);
}

.form .section span {
    background: #2A88AD;
    padding: 5px 10px 5px 10px;
    position: absolute;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border: 4px solid #fff;
    font-size: 14px;
    margin-left: -45px;
    color: #fff;
    margin-top: -3px;
}

.btn-panel-bottom {
    padding: 11px 80px;
    font-size: 20px;
    font-weight: bold;
}

.pull-right {
    float: right;
}

.pull-left {
    float: left;
}

.row label {
    font-weight: bold;
    font-size: 15px;
    float: left;
}

.panel-container-bottom {
    border-top: 1px solid #cacaca;
    padding: 15px 15px 0 15px;
    margin-top: 20px;
}

.number-field-box {
    border-bottom: 1px solid #cacaca;
    margin-bottom: 50px;
}

.number-field-box label {
    font-weight: bold;
    margin-top: 10px;
    font-size: 15px;
}